<div class="container py-5">
  <h2 class="text-center pb-2"></h2>
  <div class="row">
    <div class="col-lg-6 col-12 pb-3">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="text-center mb-4">Clinic Management System</h2>
          <p> Some Text on Clinic Management System</p>
          <img src="assets/images/googlelogo_color_272x92dp.png" width="100%" height="100%" />
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 pb-3">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="text-center mb-4">New Clients Sign in</h2>
          <div class="row">
            <button type="submit" class="btn btn-primary" [routerLink]="['/waiver']">No Appointment? Sign In Here</button>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Under 18? Parents Sign In Here</button>
          </div>
          <hr>
          <div class="row">
            <button type="submit" class="btn btn-primary" [routerLink]="['/waiverRegisteredUser']">Have an Appointment? Sign In Here</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>