<div class="container">
  <section id="section1">
    <form>
      <div class="row">
        <label for="inputEmail4" class="col-form-label">Client or Parent/Legal Guardian of Minor Client</label>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <input class="form-control" type="text" id="inputFname" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <input class="form-control" type="text" id="inputLname" placeholder="Last Name">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-form-label">Date of Birth</label>
            <div class="row">
              <div class="col-md-6">
                <select name="rmonth" id="month" size="1" class="form-control">
                  <option selected value=''>Month</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div class="col-md-3">
                <select name="rday" id="day" size="1" class="form-control">
                  <option selected value=''>Day</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
              <div class="col-md-3">
                <select name="ryear" id="year" class="form-control">
                  <option selected value=''>Year</option>
                  <option value='2018'>2018</option>
                  <option value='2017'>2017</option>
                  <option value='2016'>2016</option>
                  <option value='2015'>2015</option>
                  <option value='2014'>2014</option>
                  <option value='2013'>2013</option>
                  <option value='2012'>2012</option>
                  <option value='2011'>2011</option>
                  <option value='2010'>2010</option>
                  <option value='2009'>2009</option>
                  <option value='2008'>2008</option>
                  <option value='2007'>2007</option>
                  <option value='2006'>2006</option>
                  <option value='2005'>2005</option>
                  <option value='2004'>2004</option>
                  <option value='2003'>2003</option>
                  <option value='2002'>2002</option>
                  <option value='2001'>2001</option>
                  <option value='2000'>2000</option>
                  <option value='1999'>1999</option>
                  <option value='1998'>1998</option>
                  <option value='1997'>1997</option>
                  <option value='1996'>1996</option>
                  <option value='1995'>1995</option>
                  <option value='1994'>1994</option>
                  <option value='1993'>1993</option>
                  <option value='1992'>1992</option>
                  <option value='1991'>1991</option>
                  <option value='1990'>1990</option>
                  <option value='1989'>1989</option>
                  <option value='1988'>1988</option>
                  <option value='1987'>1987</option>
                  <option value='1986'>1986</option>
                  <option value='1985'>1985</option>
                  <option value='1984'>1984</option>
                  <option value='1983'>1983</option>
                  <option value='1982'>1982</option>
                  <option value='1981'>1981</option>
                  <option value='1980'>1980</option>
                  <option value='1979'>1979</option>
                  <option value='1978'>1978</option>
                  <option value='1977'>1977</option>
                  <option value='1976'>1976</option>
                  <option value='1975'>1975</option>
                  <option value='1974'>1974</option>
                  <option value='1973'>1973</option>
                  <option value='1972'>1972</option>
                  <option value='1971'>1971</option>
                  <option value='1970'>1970</option>
                  <option value='1969'>1969</option>
                  <option value='1968'>1968</option>
                  <option value='1967'>1967</option>
                  <option value='1966'>1966</option>
                  <option value='1965'>1965</option>
                  <option value='1964'>1964</option>
                  <option value='1963'>1963</option>
                  <option value='1962'>1962</option>
                  <option value='1961'>1961</option>
                  <option value='1960'>1960</option>
                  <option value='1959'>1959</option>
                  <option value='1958'>1958</option>
                  <option value='1957'>1957</option>
                  <option value='1956'>1956</option>
                  <option value='1955'>1955</option>
                  <option value='1954'>1954</option>
                  <option value='1953'>1953</option>
                  <option value='1952'>1952</option>
                  <option value='1951'>1951</option>
                  <option value='1950'>1950</option>
                  <option value='1949'>1949</option>
                  <option value='1948'>1948</option>
                  <option value='1947'>1947</option>
                  <option value='1946'>1946</option>
                  <option value='1945'>1945</option>
                  <option value='1944'>1944</option>
                  <option value='1943'>1943</option>
                  <option value='1942'>1942</option>
                  <option value='1941'>1941</option>
                  <option value='1940'>1940</option>
                  <option value='1939'>1939</option>
                  <option value='1938'>1938</option>
                  <option value='1937'>1937</option>
                  <option value='1936'>1936</option>
                  <option value='1935'>1935</option>
                  <option value='1934'>1934</option>
                  <option value='1933'>1933</option>
                  <option value='1932'>1932</option>
                  <option value='1931'>1931</option>
                  <option value='1930'>1930</option>
                  <option value='1929'>1929</option>
                  <option value='1928'>1928</option>
                  <option value='1927'>1927</option>
                  <option value='1926'>1926</option>
                  <option value='1925'>1925</option>
                  <option value='1924'>1924</option>
                  <option value='1923'>1923</option>
                  <option value='1922'>1922</option>
                  <option value='1921'>1921</option>
                  <option value='1920'>1920</option>
                  <option value='1919'>1919</option>
                  <option value='1918'>1918</option>
                  <option value='1917'>1917</option>
                  <option value='1916'>1916</option>
                  <option value='1915'>1915</option>
                  <option value='1914'>1914</option>
                  <option value='1913'>1913</option>
                  <option value='1912'>1912</option>
                  <option value='1911'>1911</option>
                </select>
              </div>
            </div>
            <div id="ageerror" data-under18="You must be 18 years or older to complete this form. " style="display:none;" class="reqfield under_18">
              You must be 18 years or older to complete this form. </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="gender-select" class="col-form-label">Gender</label>
                <select id="gender-select" name="info[Gender]" class="form-control">
                  <option value="">Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Undisclosed">Undisclosed</option>
                </select>
                <div id="gendererror" style="" class="reqfield "></div>
              </div>
              <div class="col-md-6">
                <label class="col-form-label">
                  Referred by
                </label>
                <select name="info[ReferredBy]" id="ReferredBy" class="form-control" data-other='<input name="info[ReferredBy]" id="ReferredBy" type="text" class="input" autocomplete="off" maxlength="50" placeholder="Type answer here">'>
                  <option selected value=''>Select</option>
                  <option value='Another Client'>Another Client</option>
                  <option value='Bing'>Bing</option>
                  <option value='Facebook'>Facebook</option>
                  <option value='Facebook Chat'>Facebook Chat</option>
                  <option value='Google'>Google</option>
                  <option value='Google PPC'>Google PPC</option>
                  <option value='Groupon'>Groupon</option>
                  <option value='Military Recruiter'>Military Recruiter</option>
                  <option value='Television'>Television</option>
                  <option value='Website'>Website</option>
                  <option value='Yelp'>Yelp</option>
                  <option value='other'>Other</option>
                </select>
                <a style="position: absolute;top: 13px;right: 11px;font-size: 12px;cursor: pointer;color: #F17070;display: none;" id="show_referral_dropdown">back to drop down</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-group col-md-6">
          <input class="form-control" type="text" id="inputAddress" placeholder="Address">
        </div>

        <div class="form-group col-md-2">
          <input class="form-control" type="text" id="inputZip" placeholder="Zip">
        </div>

        <div class="form-group col-md-2">
          <input class="form-control" type="text" id="inputCity" placeholder="City">
        </div>

        <div class="form-group col-md-2">
          <input class="form-control" type="text" id="State" placeholder="State">
        </div>

      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <input class="form-control" type="email" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <input class="form-control" type="tel" id="inputPhone" placeholder="Phone">
        </div>
      </div>

      <hr>

      <div id="childBlock" class="">
        <div class="row">
          <label for="inputEmail4" class="col-form-label">Fill in Children Info</label>
        </div>
      </div>

      <!-- Code for Child section starts -->

      <div class="row" id="membersttr1">

        <input name="relation1[ID]" id="relID1" type="hidden" value="" />

        <div class="col-md-6">
          <div class="form-group">
            <label class="col-form-label"> Child Details </label>

            <div class="row">
              <div class="col-md-6">
                <input value="" class="form-control" name="relation1[FirstName]" id="FirstName1" placeholder="Child First Name" type="text"
                  maxlength="50" autocomplete="off" />
              </div>
              <div class="col-md-6">
                <input value="" class="form-control" name="relation1[LastName]" id="LastName1" placeholder="Child Last Name" type="text"
                  maxlength="50" autocomplete="off" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group ">
            <label for="birthday1" class="col-form-label">Date of Birth</label>

            <div class="row">
              <div class="col-md-5">
                <select name="rmonth1" id="month1" size="1" class="form-control">
                  <option selected value=''>Month</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>

              </div>
              <div class="col-md-3">
                <select name="rday1" id="day1" size="1" class="form-control">
                  <option selected value=''>Day</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
              <div class="col-md-3">
                <select name="ryear1" id="year1" class="form-control">
                  <option selected value=''>Year</option>
                  <option value='2018'>2018</option>
                  <option value='2017'>2017</option>
                  <option value='2016'>2016</option>
                  <option value='2015'>2015</option>
                  <option value='2014'>2014</option>
                  <option value='2013'>2013</option>
                  <option value='2012'>2012</option>
                  <option value='2011'>2011</option>
                  <option value='2010'>2010</option>
                  <option value='2009'>2009</option>
                  <option value='2008'>2008</option>
                  <option value='2007'>2007</option>
                  <option value='2006'>2006</option>
                  <option value='2005'>2005</option>
                  <option value='2004'>2004</option>
                  <option value='2003'>2003</option>
                  <option value='2002'>2002</option>
                  <option value='2001'>2001</option>
                  <option value='2000'>2000</option>
                  <option value='1999'>1999</option>
                  <option value='1998'>1998</option>
                  <option value='1997'>1997</option>
                  <option value='1996'>1996</option>
                  <option value='1995'>1995</option>
                  <option value='1994'>1994</option>
                  <option value='1993'>1993</option>
                  <option value='1992'>1992</option>
                  <option value='1991'>1991</option>
                  <option value='1990'>1990</option>
                  <option value='1989'>1989</option>
                  <option value='1988'>1988</option>
                  <option value='1987'>1987</option>
                  <option value='1986'>1986</option>
                  <option value='1985'>1985</option>
                  <option value='1984'>1984</option>
                  <option value='1983'>1983</option>
                  <option value='1982'>1982</option>
                  <option value='1981'>1981</option>
                  <option value='1980'>1980</option>
                  <option value='1979'>1979</option>
                  <option value='1978'>1978</option>
                  <option value='1977'>1977</option>
                  <option value='1976'>1976</option>
                  <option value='1975'>1975</option>
                  <option value='1974'>1974</option>
                  <option value='1973'>1973</option>
                  <option value='1972'>1972</option>
                  <option value='1971'>1971</option>
                  <option value='1970'>1970</option>
                  <option value='1969'>1969</option>
                  <option value='1968'>1968</option>
                  <option value='1967'>1967</option>
                  <option value='1966'>1966</option>
                  <option value='1965'>1965</option>
                  <option value='1964'>1964</option>
                  <option value='1963'>1963</option>
                  <option value='1962'>1962</option>
                  <option value='1961'>1961</option>
                  <option value='1960'>1960</option>
                  <option value='1959'>1959</option>
                  <option value='1958'>1958</option>
                  <option value='1957'>1957</option>
                  <option value='1956'>1956</option>
                  <option value='1955'>1955</option>
                  <option value='1954'>1954</option>
                  <option value='1953'>1953</option>
                  <option value='1952'>1952</option>
                  <option value='1951'>1951</option>
                  <option value='1950'>1950</option>
                  <option value='1949'>1949</option>
                  <option value='1948'>1948</option>
                  <option value='1947'>1947</option>
                  <option value='1946'>1946</option>
                  <option value='1945'>1945</option>
                  <option value='1944'>1944</option>
                  <option value='1943'>1943</option>
                  <option value='1942'>1942</option>
                  <option value='1941'>1941</option>
                  <option value='1940'>1940</option>
                  <option value='1939'>1939</option>
                  <option value='1938'>1938</option>
                  <option value='1937'>1937</option>
                  <option value='1936'>1936</option>
                  <option value='1935'>1935</option>
                  <option value='1934'>1934</option>
                  <option value='1933'>1933</option>
                  <option value='1932'>1932</option>
                  <option value='1931'>1931</option>
                  <option value='1930'>1930</option>
                  <option value='1929'>1929</option>
                  <option value='1928'>1928</option>
                  <option value='1927'>1927</option>
                  <option value='1926'>1926</option>
                  <option value='1925'>1925</option>
                  <option value='1924'>1924</option>
                  <option value='1923'>1923</option>
                  <option value='1922'>1922</option>
                  <option value='1921'>1921</option>
                  <option value='1920'>1920</option>
                  <option value='1919'>1919</option>
                  <option value='1918'>1918</option>
                  <option value='1917'>1917</option>
                  <option value='1916'>1916</option>
                  <option value='1915'>1915</option>
                  <option value='1914'>1914</option>
                  <option value='1913'>1913</option>
                  <option value='1912'>1912</option>
                  <option value='1911'>1911</option>
                </select>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Delete</button>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>



      <div class="text-right">
        <button type="submit" class="btn btn-primary" [routerLink]="['/waiverconfirmation']"> >>Next</button>
      </div>

    </form>
  </section>

</div>