<p></p>
<p class="bg-success text-white">{{pageTitle}}</p>

<table *ngIf="product">
  <tr>
    <td>Name: </td>
    <td>{{product.productName}}</td>
  </tr>
  <tr>
      <td>Product Code: </td>
      <td>{{product.productCode}}</td>
  </tr>
  <tr>
        <td>Release Date: </td>
        <td>{{product.releaseDate}}</td>
   </tr>
   <tr>
      <td>Release Date: </td>
      <td>{{product.releaseDate}}</td>
 </tr>
 <tr>
    <td>Description: </td>
    <td>{{product.description}}</td>
</tr>

</table>

<div class="panel-footer">
  <a  class='btn btm-default' (click)='onBack()'>Back</a>
</div>