<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>

    <div class="card-body">   
        <div class="table-reponsive">
          <table class="table" *ngIf="lead">
            <tbody>
                <tr>
                  <td> Name </td>
                <td>
                  {{lead.leadName}}
                </td>
              </tr>
              <tr>
                <td>Lead Email</td>
                <td>{{lead.email}}</td>
              </tr>
              <tr>
                  <td>Lead Phone</td>
                  <td>{{lead.phone}}</td>
              </tr>
              <tr>
                  <td>Lead Location</td>
                  <td>{{lead.location}}</td>
              </tr>
              <tr>
                  <td>Lead Status</td>
                  <td>{{lead.leadStatus}}</td>
              </tr>
              <tr>
                  <td>Lead Owner</td>
                  <td>{{lead.leadOwner}}</td>
              </tr>
              <tr>
                  <td>Lead Source</td>
                  <td>{{lead.leadSource}}</td>
              </tr>
              <tr>
                  <td>Created By</td>
                  <td>{{lead.createdBy}}</td>
              </tr>
              <tr>
                  <td>Created Time</td>
                  <td>{{lead.createdTime}}</td>
              </tr>
              <tr>
                  <td>Updated Time</td>
                  <td>{{lead.updatedTime}}</td>
              </tr>
              <tr>
                  <td>Follow up Date</td>
                  <td>{{lead.followupDate}}</td>
              </tr>
              <tr>
                  <td>Message</td>
                  <td>{{lead.message}}</td>
              </tr>

    
            </tbody>
          </table>
        </div>
      </div> 

</div>